extends ../layout

block content
  .d-flex.justify-content-between.align-items-center.mb-3
    h2= title
    a.btn.btn-primary(href="/admisiones/nuevo")
      | Nueva Admisión

  .card.shadow-sm
    .card-body
      if admisiones && admisiones.length > 0
        .table-responsive
          table.table.table-hover.align-middle
            thead.table-light
              tr
                th ID Adm.
                th Paciente
                th DNI
                th Fecha de Ingreso
                th Ubicación (Cama)
                th Acciones
            tbody
              each admision in admisiones
                tr
                  td= admision.id
                  td= admision.paciente.nombrePaciente + ' ' + admision.paciente.apellidoPaciente
                  td= admision.paciente.dni
                  td= new Date(admision.fechaHoraAdmision).toLocaleString('es-AR')
                  td
                    if admision.camaAsignada
                      span #{admision.camaAsignada.habitacion.ala.nombre} - Hab. #{admision.camaAsignada.habitacion.numero} - Cama #{admision.camaAsignada.codigo}
                    else
                      span.text-muted Sin asignar
                  td
                    a.btn.btn-sm.btn-outline-secondary.me-2(href=`/admisiones/${admision.id}`) Ver Detalle
                    if !admision.camaAsignada
                      a.btn.btn-sm.btn-success(href=`/admisiones/${admision.id}/asignar-cama`) Asignar Cama

      else
        .alert.alert-info No hay admisiones activas en este momento.
